@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap);
* {
    font-family: Open Sans;
    scroll-behavior: smooth;
}
.header-div{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 150px;
    height: 100px;
    margin-left: 30px;
}
.titles{
    width: 500px;
    background: linear-gradient(90deg,rgb(114, 98, 197)35%,rgb(255,0,221)100%);
    -webkit-background-clip:text;
    
    -webkit-text-fill-color:transparent;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.titles div{
    font-size: 20px;
    font: bolder;
    font-family: serif;
}
.titles a{
    font-weight:6100;
}
.contact:hover{
    background: linear-gradient(90deg,rgb(50,50,245)35%,rgb(255,0,221)100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.about:hover{
    background: linear-gradient(90deg,rgb(50,50,245)35%,rgb(255,0,221)100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.community:hover{
    background: linear-gradient(90deg,rgb(50,50,245)35%,rgb(255,0,221)100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.services:hover{
    background: linear-gradient(90deg,rgb(50,50,245)35%,rgb(255,0,221)100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.loginbtn{
    font-size: 15px;
    background-color: black;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    width: 100px;
    height: 50px;
    margin-right: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.loginbtn button{
    justify-content: flex-end;
}
.loginbtn:hover{
    color: black;
    cursor: pointer;
    background: linear-gradient(90deg,rgb(50, 239, 245)35%,rgb(255,0,221)100%);

}
.header-div a{
    color: white;
    text-decoration: none;
}
.image{
    background-image: url(/images/blue-classic-vintage-retro-electric-scooter-black-circle-promotion-stage-podium-with-backlight-3d-rendering_476612-20180.avif);
    background-repeat: no-repeat;
    /* background-position:top right; */
    background-position: 100%;
    height: auto;
    padding: 15px;
    margin: 30px;
    margin-bottom: 0px;
    color: white;
}
.title{
    display: flex;
    flex-direction: column;
}
#titleheading{
    font-size: 80px;
    margin-left: 10%;
    margin-top: -5px;
}
.title h1{
    font-size: 80px;
    margin-right: 10px;
}
.title p{
    font-size: 20px;
    max-width: 400px;
    margin-left: 10%;
    margin-top: -45px;
    font-weight: 500;
}
.btn{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    margin-left: 10%;
    font: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 60px;
    width: 160px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(255, 255, 255);
}
.btn:hover{
    color: rgb(0, 0, 0);
    background: linear-gradient(45deg,rgb(194, 19, 98)35%,rgb(255, 255, 255)100%);
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(160, 69, 69);

}
.details{
        width: 1050px;
        color: #ffffff;
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
}
.details div{
        margin-right: 0.1px;
        margin-left: 13%;
}
.features{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/images/variants.jpg);
    background-repeat: no-repeat;
    background-position:center;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.features h1{
    font-size: 50px;
    margin-top: 40px;
}
.features p{
    margin-top: 450px;
    margin-left: 50px;
    max-width: 1300px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: cursive;

}
.para{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.footer{
    width: 100%;
    height: 300px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}
.footerlogo{
    width: 500px;
    height: 100%;
}
.footerlogo img{
    width: 150px;
    height: auto;
    padding: 10px;
    margin-bottom: 5px;
}
.quicklink{
    display: flex;
    justify-content: flex-start;
}
#quicklinks{
    border-right:1px solid #0072ff;
    padding: 5px;
    text-decoration: none;
    color: white;
}
span{
    font-size: 25px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: last baseline;
    margin: 5px;
}
.footercontact .footer-center{
    display: flex;
    color: white;
    justify-content: flex-start;
    flex-direction: column;
}
.footercontact .footer-center a{
    text-decoration: none;
    color: white;
}
.footer-center{
    margin: 15px;
}
.footer-center p{
    margin-top: -15px;
}
#twitter,
#facebook,
#instagram,
#google {
    text-decoration: none;
    font-size: 2em;
    background-color: #18191f;
    color: #05d3de;
    box-shadow: 2px 2px 2px #00000080,10px 1px 12px #00000080,2px 2px 10px #00000080,2px 2px 3px #00000080,inset 2px 2px 10px #00000080,inset 2px 2px 10px #00000080,inset 2px 2px 10px #00000080,inset 2px 2px 10px #00000080,inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    margin: 0 20px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff,0 0 100px #ad1093,0 0 150px #0072ff,0 0 200px #0072ff;
}
#twitter{
    animation-delay: 0.3s;
}
#github{
    animation-delay: 0.7s;
}
#instagram{
    animation-delay: 0.1s;
}
#linkedin{
    animation-delay: 0.5s;
}
@keyframes animate {
    from {
        filter:hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
.hamburger-menu {
    font-size: 24px;
    cursor: pointer;
    display: none;
  }
@media screen and (max-width: 1000px) {
    .titles {
      display: none;
      flex-direction: column;
    }
    .titles.show {
      display: flex;
    }
    .header-div div{
        margin: 10px;
    }

    .loginbtn {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
      /* Fix the hamburger icon at the right position */
      position: fixed;
      color: rgb(228, 18, 18);
      top: 10px;
      right: 10px;
    }
    .image{
        background-image: url(/images/blue-classic-vintage-retro-electric-scooter-black-circle-promotion-stage-podium-with-backlight-3d-rendering_476612-20180.avif);
        width: 100%;
        background-repeat: no-repeat;
        background-position:100%;
        height:600px;
        color: white;
        position: static;
        padding: 0px;
        margin: 0px;
    }
    #titleheading{
        /* color: red; */
        margin-top: 5%;
        font-size: 60px;
        margin-left: 10%;
        /* font-weight: 20px; */
    }
    #titlepara{
        /* color: blueviolet; */
        margin-left:10%;
        margin-top: 5%;
        max-width: 50%fit-content
    }
    .btn{
        margin-top: 10%;
        margin-left: 10%;
    }
    .details{
        width: 1050px;
        color: #ffffff;
        display: none;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        cursor: pointer;
    }
    .details hr{
        width: 79%;
        margin-left: 0%;
    }
    .details div{
        /* margin-right: 0.1px; */
        /* margin-left: 13%; */
    }
    .heading{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .features{
        height: auto;
    }
    .features h1{
        font-size: 50px;
        margin-top: 10%;
    }
    .features p{
        margin-top: 450px;
        margin-left: 50px;
        max-width: 1300px;
        color: rgb(0, 0, 0);
        font-size: 25px;
        font-family: cursive;
    }
    .icon{
        display: flex;
        justify-content: flex-start;
        align-items: last baseline;
        margin: 1%;
    }
    .footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: auto;
    }
    .footercontact .footer-center{
        display: flex;
        color: white;
        justify-content: flex-start;
        flex-direction: column;
    }
    .footercontact .footer-center a{
        text-decoration: none;
        color: white;
    }
    .footer-center{
        margin: 15px;
    }
    .footer-center p{
        margin-top: -15px;
    }
  }